@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;1,300&family=Quicksand:wght@300..700&display=swap');

body {

    font-family: "Quicksand", sans-serif;

    font-style: normal;
    background-color: #000;
    color: #fff;

}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    color: #333;
    padding: 2px 4px;
    border-radius: 4px;
    display: block;
    margin: 20px 0;
}

.jsApp table th {
    padding: 20px;
    background: #2c3034;
}

.jsApp table td {
    padding: 20px;
    background: #000;
    border-color: #2c3034;
}

tr {
    background: #000;
}



.jsApp table tbody tr {
    --bs-table-accent-bg: #000 !important;
}

body.light-theme {
    background: #7ba3dd;
}

/* CSS for loader */
.loader {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}